<h3>{{modal.message}}</h3>
<br>
<br>
<div class="row">
   <div class="col-xs-12">
      <div class="alert alert-danger">
         {{lang.cantBeUndone}}
      </div>
   </div>
</div>


<div class="row">
   <div class="col-xs-12">
      <form>
         <div class="form-group">
            <label>{{lang.toConfirm}} <em>{{confirmText}}</em> {{lang.toConfirmField}}</label>
            <input type="text" class="form-control" ng-model="userInputText">
         </div>
      </form>
   </div>
</div>


<div class="row">
   <div class="col-xs-6">
      <div ng-if="userInputText !== confirmText">
         <button class="rf-btn rf-btn-disabled col-xs-12">{{lang.yes}}</button>
      </div>
      <div ng-show="userInputText === confirmText">
         <button class="rf-btn rf-btn-red col-xs-12" ng-click="modal.quit(modal.onSuccess);">{{lang.yes}}</button>
      </div>
   </div>

   <div class="col-xs-6">
      <button class="rf-btn rf-btn-background col-xs-12" ng-click="modal.quit();">{{lang.cancel}}</button>
   </div>
</div>
