@mixin clear {
  display: block;
  content: '';
  clear: both;
}

@mixin rf-cut-before($c1) {
  width: 0;
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  border-left: 30px solid rgba(0,0,0,0);
  border-bottom: 40px solid $c1;
  z-index: 999;
}

@mixin rf-cut-after($c1) {
  width: 0;
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  border-left: 30px solid $c1;
  border-bottom: 40px solid rgba(0,0,0,0);
  margin-right: 0;
}

@mixin rf-no-cut {
  width: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  margin-right: 0;
}

/** transition
 * @example: @include transition(0.5s);
 */
@mixin transition($time) {
     -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
     -ms-transition: all $time ease-in-out;
     -o-transition: all $time ease-in-out;
     transition: all $time ease-in-out;
}

@mixin transition-delay($time) {
  -webkit-transition-delay: $time;
  -moz-transition-delay: $time;
  -ms-transition-delay: $time;
  -o-transition-delay: $time;
  transition-delay: $time;
}





@mixin box-shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/* From 0 to 100 */
@mixin opacity($opacity) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
  filter: alpha(opacity=$opacity);
  -moz-opacity: $opacity / 100;
  -khtml-opacity: $opacity / 100;
  opacity: $opacity / 100;
}


@mixin noselect() {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    not supported by any browser */
}
