.rf-btn,
.rf-btn.rf-btn-inverted:hover {
  color: #fff;
  border: none;
  background: $main_color;
  padding: 5px;
  border-color: #fff;
  margin: 5px 0;
  cursor: pointer;
  user-select: none;
  @include noselect;

  &.rf-btn-border {
    border-width: 1px;
    border-style: solid;
  }

  &.rf-btn-green {
    color: #fff;
    background: $green;
    border-color: #fff;
  }

  &.rf-btn-red {
    color: #fff;
    background: $darkred;
    border-color: #fff;
  }

  &.rf-btn-disabled {
    color: $grey;
    background: $lightgrey;
    border-color: $grey;
    cursor: not-allowed;
  }

  &.rf-btn-transparent {
    background: none;
  }

  &.rf-btn-icon {
    text-align: left;

    & > * {
      margin: 3px;
      float: right;
    }

    &:after {
      @include clear;
    }
  }
}

.rf-btn.rf-btn-inverted,
.rf-btn:hover {
  @extend .rf-btn;
  color: $main_color;
  background: #fff;
  border-color: $main_color;
  margin: 5px 0;

  &.rf-btn-green {
    color: $darkgreen;
    background: #fff;
    border-color: $darkgreen;
  }

  &.rf-btn-red {
    color: $darkred;
    background: #fff;
    border-color: $darkred;
  }

  &.rf-btn-disabled {
    color: $grey;
    background: $lightgrey;
    border-color: $grey;
  }

  &.rf-btn-transparent {
    background: none;
  }

  &.rf-btn-background {
    background: $darkwhite;
  }
}

.rf-btn-vertical-list {
  .rf-btn,
  .rf-btn.rf-btn-inverted:hover {
    border-bottom: 1px solid;
    display: block;
    margin: 0;
  }

  .rf-btn.rf-btn-inverted,
  .rf-btn:hover {
    border-bottom: 1px solid;
    margin: 0;
  }

  .rf-btn.last {
    border-bottom: 0;
  }
}

.rf-btn-horizontal-list {
  .rf-btn,
  .rf-btn.rf-btn-inverted:hover {
    float: left;
    border-right: 1px solid;
    margin: 0;
  }

  .rf-btn.rf-btn-inverted,
  .rf-btn:hover {
    border-right: 1px solid;
    margin: 0;
  }

  .rf-btn.last {
    border-right: 0;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.rf-btn-list-labeled {
  margin: 5px 0;
  border: 1px solid $main_color;

  label {
    float: left;
    margin: 0;
    padding: 5px;
  }

  & > div {
    float: right;
  }

  &:after {
    clear: both;
    display: block;
    content: '';
  }
}
