//global colors //////////////////////////////////

// main theme color
$main_color: #f47721;
$main_color_light: #ffa200;
$main_color_dark: #de7704;
$main_color_contrast_light: #0b88de;
$main_color_contrast_dark: #1d398c;

// main elements background
$nav_background: #282630;
$sidebar_background: #282630;
$header_background: #282630;

// fields
$invalid: red;
$valid: #d7fa96;
$untouched: #fff;

// black - grey - white
$midwhite: #fcfcfc;     // background color
$darkwhite: #f0f0f0;    // background color
$lightgrey: lightgray;  // border color
$midgrey: grey;         // background color
$grey:  #545454;        // background color
$darkgrey: #282630;     // background color

// basic colors, that should not be modified
$green: #20e620;
$darkgreen: green;
$blue: #0b88de;
$darkblue: #1d398c;
$red: #ff0202;
$darkred: #a53f3f;
$yellow: #f9ff00;
$darkyellow: #d08d31;



//global resolution variables //////////////////////////////////

// IPAD NORMAL SIZE
$screen-sm-min: 1024px; //768px;
$screen-xs-max: ($screen-sm-min - 1);

$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);

$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

//Iphone 6
$screen-iphone-min: 375px;
$screen-iphone-max: (screen-iphone-min - 1);
